/*
* === snowcave ===
*/
*, *::before, *::after {box-sizing: border-box;} 
* { margin: 0; padding: 0; }
@charset "utf-8";

body { background: #A45A00; overflow:hidden;}

header{ text-align: center; padding: 1cm 1cm 1cm 1cm; color: #fff; }

P { text-align: center; color: #fff;} 

middle { display: flex; flex-direction: row; justify-content: center; 
align-items: center; width: 100%; height: 100%; 
padding: 0cm 0cm 0cm 0cm;}

iframe:focus { outline: none; }

iframe {position: relative; width: 100%; height: 100%; 
padding: 0cm 0cm 0cm 0cm; border-style: none; }

h1 {color: #fff;}

h2 { font: 24px Georgia; margin: 0 0 10px 0; }

h3 { margin: 0 0 8px 0; } 

p { margin: 0 0 20px 0; }

footer {text-align: center; padding: 1cm 1cm 1cm 1cm;}

a:link { color: #fff; }

a:visited { color: #fff; }

a:hover { color: #fff; }

a:active { color: #fff; }

ul { list-style-type:none; padding:0px; margin:0px; }

article, aside, figure, footer, header, hgroup, menu, nav, section 
{ display: block; }
